.profile__edit-button {
  background-image: url(../../../images/edit.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 24px;
  width: 24px;
  background-color: #000000;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  grid-area: profile__edit-button;
  align-self: flex-end;
}