.popup__input {
  height: 26px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.popup__input:last-of-type {
  margin-bottom: 48px;
}

@media screen and (max-width: 620px) {

  .popup__input {
    margin-bottom: 30px;
  }

  .popup__input:last-of-type {
    margin-bottom: 43px;
  }
}